# IntelliJ Idea project settings folder
.idea

# NPM package manager temporary files and folders
node_modules
npm-debug.log
package-lock.json

# ModelGen output folders
migrations
generic
sql
distributed
adapters
cenz-server
resolvers
schemas
validations
patches
adapters
seeders
